<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Przypisz zadanie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/main.css}">
</head>
<body>
<section layout:fragment="content" class="indexContent">

    <h2>Przypisz zadanie użytkownikowi</h2>
    <form th:action="@{/assignTask}" method="post">
        <div class="mb-3">
            <label for="specifiedUser">Użytownik</label>
            <select id="specifiedUser" class="form-control" name="userId">
                <option th:each="user: ${users}" th:value="${user.id}"
                        th:text="|${user.firstName}, ${user.lastName}|"></option>
            </select>
        </div>
        <form>
            <div class="mb-3">
                <label for="specifiedTask">Zadanie</label>
                <select id="specifiedTask" class="form-control" name="taskId">
                    <option th:each="task: ${tasks}" th:value="${task.id}" th:text="${task.name}"></option>
                </select>
            </div>
            <button>Przypisz!</button>
        </form>
    </form>
</section>
</body>
</html>