body {
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content,
.indexContent,
.addEdit {
    flex: 1 0 auto;
}

.indexContent {
    text-align: center;
}

.footer {
    position: relative;
    border-top-style: solid;
    border-top-width: 1px;
}

.navbar {
    width: 100%;
}

.inline-button {
    display: inline-block;
}

.navbarLeft {
    text-align: left;
    width: 33%;
}

.navbarCenter {
    text-align: center;
    width: 33%;
}

.navbarRight {
    text-align: right;
    width: 33%;
}

.indexSection {
    padding-top: 15px;
    margin-top: 15px;
    border-top-style: solid;
    border-top-width: 1px;
}

.indexLeft {
    display: inline-block;
    text-align: right;
    width: 33%;
}

.indexCenter {
    display: inline-block;
    text-align: center;
}

.indexRight {
    display: inline-block;
    text-align: left;
    width: 33%;
}

#btn_check,
#btn_details,
#btn_edit,
#btn_delete {
    border: none !important;
    background-color: transparent !important;
    padding: 3px;
}

#btn_check:hover #svg_check,
#svg_check:hover {
    fill: green
}

#btn_edit:hover #svg_edit,
#svg_edit:hover {
    fill: blue
}

#btn_delete:hover #svg_delete,
#svg_delete:hover {
    fill: red
}

#btn_details:hover #svg_details,
#svg_details:hover {
    fill: orange;
}

#last_column_buttons {
    width: 1px;
    white-space: nowrap;
    text-align: right;
}

.btn_form {
    display: inline;
}

#dropdownAccountMenuContent {
    width: 33%;
    right: 0;
    left: auto;
    text-align: right;
}

#dropdownLangMenuContent {
    width: 33%;
    left: 0;
    right: auto;
    text-align: left;
}

.short-input {
    min-width: 10vw;
    max-width: 25vw;
}

.center-input {
    margin: auto;
    text-align: center;
}