<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{uedit.title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/main.css}">
</head>
<body>
<section layout:fragment="content" class="addEdit">
    <h3 class="mb-4" th:text="#{uedit.hello}"></h3>
    <form th:action="@{/user/edit}" method="POST" th:object="${user}">
        <div class="mb-3">
            <input type="hidden" id="id" class="form-control" th:field="*{id}"/>
            <span th:text="|#{user.id}: *{id}|"></span>
        </div>
        <div class="mb-3">
            <span th:text="|#{user.email}: *{email}|"></span>
        </div>
        <div class="mb-3">
            <label for="userFirstName" class="form-label" th:text="#{user.f_name}"></label>
            <input type="text" id="userFirstName" class="form-control" th:field="*{firstName}" required/>
        </div>
        <div class="mb-3">
            <label for="userLastName" class="form-label" th:text="#{user.l_name}"></label>
            <input type="text" id="userLastName" class="form-control" th:field="*{lastName}" required/>
        </div>
        <div class="mb-3">
            <label for="userRole" class="form-label" th:text="#{user.permissions}"></label>
            <select id="userRole" class="form-select" multiple="multiple" th:field="*{roleList}">
                <option th:each="role: ${T(pl.osowicz.task_manager.user.Role).values()}" th:value="${role}" th:text="#{'role.'+${role.name()}}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-outline-dark" th:text="#{uedit.save}"></button>
    </form>
</section>
</body>
</html>