<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Zmiana hasła</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/main.css}">
    <script type="text/javascript" th:src="@{/scripts/errors.js}">
    </script>
</head>
<body>
<section layout:fragment="content" class="content">
    <h3 class="mb-4">Zmiana hasła</h3>
    <h6 class="mb-3" th:text="|Użytkownik: ${username}|"></h6>
    <form th:action="@{/changePassword}" method="post">
        <div class="row mb-3">
            <input type="hidden" id="id" name="id" th:value="${id}">
            <label class="col-sm-2 col-form-label" for="currentPassword">Obecne hasło</label>
            <div class="col-sm-10">
                <input type="password" id="currentPassword" name="currentPassword"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="password">Nowe hasło</label>
            <div class="col-sm-10">
                <input type="password" id="password" name="newPassword" onkeyup="checkPasswordMatch();"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="confirmPassword">Powtórz nowe hasło</label>
            <div class="col-sm-10">
                <input type="password" id="confirmPassword" name="confirmNewPassword" onkeyup="checkPasswordMatch();"/>
                <span id="passwordCheck"></span>
            </div>
        </div>
        <div class="mb-3">
            <span th:if="${error}">Podane hasła są niezgodne</span>
            <span th:if="${oldError}">Podano niepoprawne aktualne hasło</span>
        </div>
        <button class="btn btn-outline-dark">Ustaw hasło!</button>
    </form>
</section>
</body>
</html>