<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{fp.pwd_recovery}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/main.css}">
</head>
<body>
<section layout:fragment="content" class="content">
    <h3 class="mb-4" th:text="#{fp.forget_a_pwd}"></h3>
    <form th:action="@{/forgotPassword}" method="post">
        <div class="mb-3">
            <input class="form-control short-input" type="email" id="email" name="email" th:placeholder="#{fp.enter_email}">
        </div>
        <button class="btn btn-outline-dark" th:text="#{fp.reset_pwd}"></button>
    </form>
</section>
</body>
</html>