<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/main.css}">
</head>
<body>
<section layout:fragment="content" class="indexContent">
    <h2 class="mb-4" th:text="#{index.name}"></h2>
    <div>
        <div sec:authorize="isAnonymous()">
            <h5 class="mb-3" th:text="#{index.hello}"></h5>
                <form th:action="@{/login}" method="post"><button class="btn btn-light ml-2 mb-2" th:text="#{index.login}"></button></form>
            <h5 class="mb-2" th:text="#{index.or}"></h5>
                <form th:action="@{/register}" method="get"><button class="btn btn-light mx-2 mb-2" th:text="#{index.register}"></button></form>
        </div>

        <div sec:authorize="hasRole('ROLE_UNCONFIRMED')">
            <h4 th:text="#{index.account_created}"></h4>
        </div>
        <div sec:authorize="isAuthenticated() and !hasRole('ROLE_UNCONFIRMED')">
            <form th:action="@{task/add}" method="get"><button class="btn btn-outline-dark" th:text="#{index.add_task}"></button></form>
        </div>

        <div class="indexSection" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_SUPPORT')">
            <div class="column-verticallineMiddle form-inline indexLeft">
                <a th:href="@{/task/list}"><button class="btn btn-outline-dark" th:text="#{index.task_list}"></button></a>
            </div>
            <div class="column-verticallineMiddle form-inline indexCenter">
                <a th:href="@{/task/list(status=STARTED)}"><button class="btn btn-outline-dark" th:text="#{index.to-do_list}"></button></a>
            </div>
            <div class="column-verticallineMiddle form-inline indexRight">
                <a th:href="@{/task/list(status=COMPLETED)}"><button class="btn btn-outline-dark" th:text="#{index.done_so_far}"></button></a>
            </div>
        </div>

        <div class="indexSection" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="column-verticallineMiddle form-inline indexLeft">
                <a th:href="@{user/add}"><button class="btn btn-outline-dark" th:text="#{index.add_user}"></button></a>
            </div>
            <div class="column-verticallineMiddle form-inline indexCenter">
                <a th:href="@{user/list}"><button class="btn btn-outline-dark" th:text="#{index.user_list}"></button></a>
            </div>
            <div class="column-verticallineMiddle form-inline indexRight">
                <a th:href="@{assignTask}"><button class="btn btn-outline-dark" th:text="#{index.assign_task_to_user}"></button></a>
            </div>
        </div>
    </div>
</section>
</body>
</html>