<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/main.css}">
</head>
<body>

<div th:fragment="navbar" class="navbar">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <div class="column-verticallineMiddle form-inline navbarLeft">
        <div class="inline-button dropdown">
            <button class="btn btn-light dropdown inline" id="dropdownLangMenuButton" data-bs-toggle="dropdown"
                    aria-expanded="false" th:text="#{fr.language}">
            </button>
            <ul id="dropdownLangMenuContent" class="dropdown-menu" aria-labelledby="dropdownLangMenuButton">
                <li><a class="dropdown-item" th:each="lang: ${T(pl.osowicz.task_manager.Language).values()}"
                       th:value="${lang}"
                       th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}"
                       th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('lang', lang.name()).toUriString()}"
                       th:text="#{'fr.'+${lang.name()}}"></a>
                </li>
            </ul>
        </div>
        <div class="inline-button">
            <form th:action="@{/}" method="get">
                <button class="btn btn-light" th:text="#{fr.homepage}"></button>
            </form>
        </div>
    </div>
    <div class="column-verticallineMiddle form-inline navbarRight" sec:authorize="isAnonymous()">
        <form th:action="@{/register}" method="get" style="display: inline-block">
            <button class="btn btn-light mx-2" th:text="#{fr.registration}"></button>
        </form>
        <form th:action="@{/login}" method="post" style="display: inline-block">
            <button class="btn btn-light ml-2" th:text="#{index.login}"></button>
        </form>
    </div>
    <div class="column-verticallineMiddle form-inline navbarCenter"
         sec:authorize="hasAnyRole('ROLE_SUPPORT', 'ROLE_ADMIN')">
        <form th:action="@{/task/myTasks}" method="post">
            <button class="btn btn-light" th:text="#{fr.current_tasks}"></button>
        </form>
    </div>
    <div class="column-verticallineMiddle form-inline navbarRight dropdown" sec:authorize="isAuthenticated()">
        <button class="btn btn-light dropdown" id="dropdownAccountMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false" th:text="#{fr.my_account}">
        </button>
        <ul id="dropdownAccountMenuContent" class="dropdown-menu" aria-labelledby="dropdownAccountMenuButton">
            <li><a class="dropdown-item" th:href="@{/changePassword}" th:text="#{fr.change_pwd}"></a></li>
            <li><a class="dropdown-item" th:href="@{/logout}" th:text="#{fr.logout}"></a></li>
        </ul>
    </div>
</div>

<div th:fragment="footer" class="footer">
    <h6 style="text-align: right">Created by: Jakub Osowicz</br>
        Thanks to MP, @2021</h6>
</div>

</body>
</html>