<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista zadań</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>Nazwa</th>
        <th>Opis</th>
        <th>Osoba odpowiedzialna</th>
        <th>Czas rozpoczęcia</th>
        <th>DeadLine</th>
        <th>Czas zakończenia</th>
        <th>Status</th>
        <th></th>
    </tr>
    <tr th:each="task: ${tasks}" th:style="${task.deadLine.isBefore(#temporals.createNow()) ? 'color: rgb(255,78,78)' : 'color: rgb(0,0,0)'}">
        //and task.status!=pl.osowicz.task_manager.Status.COMPLETED.name())
        <td th:text="${task.id}"></td>
        <td th:text="${task.name}"></td>
        <td th:text="${task.description}"></td>
        <td>
            <span th:if="${task.user != null}" th:text="|${task.user.firstName} ${task.user.lastName}|"></span>
            <span th:unless="${task.user != null}"> </span>
        </td>
        <td th:text="${#temporals.format(task.startDate, 'dd.MM.yyyy HH:mm')}"></td>
        <td th:text="${#temporals.format(task.deadLine, 'dd.MM.yyyy HH:mm')}"></td>
        <td th:text="${#temporals.format(task.endDate, 'dd.MM.yyyy HH:mm')}"></td>
        <td th:text="${task.status.getPlName()}"></td>
        <td>
            <a th:href="@{/done(id=${task.id})}">
                <button>Zrobione!</button>
            </a>
            <a th:href="@{/editTask(id=${task.id})}">
                <button>Edytuj</button>
            </a>
            <a th:href="@{/deleteTask(id=${task.id})}">
                <button>Usuń</button>
            </a>
        </td>
    </tr>
</table>
</body>
</html>